html, body { margin: 0; padding: 0;  height: 100vh; }


@font-face {
    font-family: 'Source Code Pro';
    src: url('url:./fonts/SourceCodePro-Medium.ttf' ) format('truetype');
    font-weight: medium;
    font-style: normal;
}


:root {
    --primary-color: #39393A;
    --secondary-color: #63B0CD;
    --tertiary-color: white;
    --nav-height: 3em;
}

.logo-icon{
    fill:  var(--secondary-color);
}

.logo-text{
    fill: var(--tertiary-color);
}

.navlogo{
    height: calc(var(--nav-height) - calc(var(--nav-height)/2));
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5em;
    display: block;
}

.social{
    margin-right: 0.5em;
    margin-left: 0;
    fill: white;
}

.nav-link-right{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

#app {
    font-family: 'Source Code Pro';
    font-weight: medium;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100vh;
}

.nav {
    height: var(--nav-height);
    background-color: var(--primary-color);
    position: relative;
    vertical-align: center;
}


#map { 
    height: calc(100vh - var(--nav-height));
    background: transparent; 
}

body{
    margin:0px;
    background-color: white;
}
.brta{
    filter: grayscale(100%)
}


.monospace {
    font-family: "Source Code ","Consolas","Lucida Console", monospace;
}

.container {
    /* justify-content: center; */
    align-items: center;
    height: calc(100vh - var(--nav-height));
    flex-direction: column;
    margin-top: 2em;
}

#errorMessage{
    color: red;    
    margin-bottom: 0.5em;
}

.center {
   width: 50%;   
   text-align: center;
   font-size: 20px;
   margin-bottom: 0.5em;
}

#title{
    position: absolute; bottom: 0; left: 0; margin-left: 1em; text-shadow: 0 0 3px white;
    font-size: 24px;
}


.ol-zoom-in,.ol-zoom-out{
    background-color: var(--primary-color) !important;
    opacity: 0.6;
    filter: alpha(opacity=60); /* needed to support IE, my sympathies if that's the case */
}